/* Ozone FC variables */
$null: 0;
$social-media-color: #949494;
$full-width: 100%;
$small-fontsize: 12px;
$medium-fontsize: 18px;
$large-fontsize: 22px;
$extra-large-fontsize: 30px;
$regular-font:'kiroregular';
$bold-font:'kirobold';
$extrabold-font:'kiroextra_bold';
$light-font:'kirolight';
$color-white:#fff;
$color-black:#000;
$color-dark:#222;
$color-grey:#babac7;
$color-grey-light:#f2f2f2;
$color-dark-grey:#464646;
$color-red:#ff4a4a;
$color-light-red:#ffcccc;
$color-blue:#161616;
$color-dark-grey:#2e2e2e;
$color-light-blue:#d23c3b;
$color-lighter-blue:#8f97ca;
$color-border:#f8f8f8;
$color-border-light:#e2e2e2;
$color-border-dark:#e25a5e;
$color-offwhite:#f3f3f3;
$social-icon-width-small:32px;
$social-icon-height-small:32px;
$social-icon-padding-small:8px;
$border-radius:3px;
$padding-small-vertical: 6px;
$padding-small-horizontal: 12px;
$padding-big-vertical:15px;
$padding-big-horizontal:20px;
$gutter-width:20px;
$inline-block-display:inline-block;
$appiness:#5fc6d9;

