{% load static %}
{% load staticfiles %}
    <meta charset="utf-8">
    <title>OzoneFC Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{% static 'admin/css/master.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'font/kiro/stylesheet.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'plugin/font-awesome/scss/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'plugin/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
    <link href="{% static 'plugin/datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugin/data-table/css/datatables.css' %}" rel="stylesheet">

    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/favicon-apple-touch.png' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}" sizes="32x32">